html, body {
	margin-left: 15px;
	margin-right: 15px;
	padding: 0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

table {   
	border-collapse: collapse;
	border-bottom: 1px solid gray;
	font-family: Tahoma,Verdana,Segoe,sans-serif;
	width: 100%;
}

.input {
	width: 250px;
	border: 1px solid #666; 
	border-radius: 5px; 
	padding: 4px; 
	font-size: 16px;
}
 
th {
	border-bottom: 1px solid gray;
	background: none repeat scroll 0 0 #09c332;
	padding: 10px;
	color: #FFFFFF;
}

tr {
	border-top: 1px solid gray;
	text-align: center;
}
 
tr:nth-child(even) {
	background: #FFFFFF
}
tr:nth-child(odd) {
	background: #EEEEEE
}	
 
#wrapper {
	width: 100%;
	background: #09c332;
	margin-top: 0px;
}

#header {
	width: 100%;
	margin-top: 0px;
	padding: 15px;
}
#header h2 {
	width: 100%;
	margin: auto;
	color: #FFFFFF;
}
#container {
	width: 100%;
	margin: auto
}
#container h3 {
	color: #000;
}
#container #content {
	margin-top: 20px;
}

.add-button {
	border: 1px solid #666;
	border-radius: 5px;
	padding: 4px;
	font-size: 12px;
	font-weight: bold;
	width: auto;
	padding: 8px 10px 6px 10px;
	margin-bottom: 10px;
	margin-top: 10px;
	background: #DDDDDD;
	float: right;
}

.search-button {
	border: 1px solid #666;
	border-radius: 5px;
	padding: 4px;
	font-size: 12px;
	font-weight: bold;
	width: auto;
	padding: 8px 10px 6px 10px;
	margin-bottom: 10px;
	margin-top: 10px;
	background: #DDDDDD;
	/*float: right;*/
}
